name: Release

on:
  pull_request: {}
  release:
    types:
      - published

jobs:
  version:
    name: Setup version
    if: (github.actor != 'dependabot[bot]' && github.actor != 'codereaper-automation[bot]') || github.event_name != 'release'
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.real.outputs.version || steps.fake.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Output real version
        if: github.event_name == 'release'
        id: real
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Output faked version
        if: github.event_name == 'pull_request'
        id: fake
        run: echo "version=0.0.0" >> $GITHUB_OUTPUT

  release:
    name: Build release
    needs: version
    uses: ./.github/workflows/build-release.yaml
    with:
      version: ${{ needs.version.outputs.version }}
      event_name: ${{ github.event_name }}
